{% extends 'base.html' %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}

<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQENfD9p2Og3sQ/profile-displayphoto-shrink_200_200/0/1604242748912?e=1619654400&v=beta&t=RmnMhpNSDu3N6CFA-CE37z3KPmEd0NEUrGOsyOH7NWI">
          <div class="my-4">
            <p style="font-size:225%;,font-weight:bold;"> Hey!This is Manohar.I am a budding Engineer and a Machine-Learning Enthusiast.I am really happy to share this blog to all of you out there who are equally as enthusiastic as me in this domain.Everything related to Machine-Learning and Artificial-Intelligence excites me and that is the driving factor for creating this blog.I would be really very happy to know your views on this blog.You could actually do that by visiting to any of the below mentioned social media platforms if you feel like!!</p>
          </div>
      </div>
    </div>
</div>
</div>
{% endblock body %}